@font-face{
    font-family: description;
    src: url(dancing_script.ttf);
}
@font-face{
    font-family: titles;
    src: url(pacifico.ttf);
}

@keyframes swaying_clouds{
    from{
        background-position-x: inherit;
    }
    to{
        background-position-x: 1000%;
    }
}

body{
    margin: 0;
}

.container {
    width: 100%;
    height: 90vh;
}

#top{
    background: linear-gradient(180deg, rgba(73, 73, 209, 0.986),  rgba(99, 176, 248, 0.986));
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top svg{
    width: 100%;
    height: 70%;
}

#top div{
    overflow: hidden;
}

#top a{
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 10% 20%;
    text-decoration: none;
    font-size: 2em;
    border: 1px blue solid;
}

#middle{
    background: linear-gradient(180deg,  rgba(99, 176, 248, 0.986), rgb(226, 163, 245));
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 1em;
}

#middle h1{
    font-size: 4em;
    z-index: 1;
    font-family: titles;
    color: white;
    text-shadow: 2px 2px 2px rgb(219, 136, 231);
}

.clouds{
    position: absolute;
    margin-top: 5em;
    z-index: 0;
    background-image: url("clouds.jpg");
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    animation: swaying_clouds 300s linear infinite;
}

.card_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20%;
    height: 50%;
    width: 70%;
    min-width: 450px;
    /*background: rgba(255, 255, 255, 0.18);*/
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    border-radius: 16px;
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    
}

.cards {
    width: 13em;
    height: 16em;
   /* border: 1px blue solid;*/
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   /* background: linear-gradient(45deg, rgba(73, 73, 209, 0.986), rgb(224, 75, 75));*/
}

.cards img{
    width: 70%;
    border-radius: 60%;
} 

.cards h3{
    color: white;
    text-shadow: 2px 2px 2px rgb(219, 136, 231);
    font-family: description;
    font-size: 1.5em;
}

.card_desc{
    color: white;
    font-size: 1.5em;
    max-width: 70%;
    font-family: description;
    text-shadow: 4px 5px 2px rgba(165, 61, 181, 1);
}

#bottom{
    background: linear-gradient(180deg,  rgb(226, 163, 245), rgb(241, 136, 136));
    /*background-color: aqua;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.products{
    background-image: url("p_banner.jpg");
    margin: 0.5em 0.2em;
    row-gap: 3em;
    font-size: 3.5em;
    transition: 0.5s;
}

.products:hover{
    background-image: url("p_banner_h.jpg");
}

.bottom-card-containers:hover{
    text-shadow: 2px 2px 2px rgb(216, 42, 243);
}

.bottom-card-containers{
    font-family: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 2px rgb(219, 136, 231);
    transition: 0.5s;
}

.col-2{
    grid-column: span 2;
}

.reviews{
    background-image: url("review.jpg");
    margin: 0.5em 0.5em;
    row-gap: 3em;
    font-size: 1.3em;
    transition: 0.5s;
}

.reviews:hover{
    background-image: url("review_h.jpg");
}

.faqs{
    background-image: url("faq.jpg");
    margin: 0.5em 0.5em;
    row-gap: 3em;
    font-size: 1.3em;
    transition: 0.5s;
}

.faqs:hover{
    background-image: url("faq_h.jpg");
}


@media only screen and (max-width: 833px){
    
    #middle{
        row-gap: 0;
       
    }

    #middle h1{
        font-size: 3em;
    }

    .card_container{
        border: none;
        backdrop-filter: none;
        z-index: 1;
        min-width: 120px;
    }

    .cards{
        width: 8em;
        height: 11em;
    }

    .cards h3 {
        font-size: 1em;
    }

    .card_desc{
        font-size: 1.2em;
        max-width: 90%;
        overflow-wrap:normal;
    }

    #bottom{
        grid-template-columns: 1fr;
    }

    .col-2{
        grid-column: auto;
    }

    .bottom-card-containers{
        font-size: 1.4em;
    }
}