@font-face {
    src: url("./fonts/pacifico.ttf");
    font-family: pacifico;
}
@font-face {
    src: url("./fonts/dancing_script.ttf");
    font-family: dancingScript;
}
@font-face {
    src: url("./fonts/lobster.ttf");
    font-family: lobster;
}

@keyframes background-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

:root {
    --top-section: #FFCDBC;
    --middle-section: /*#92BFB1,*/ #AB87FF;
    --bottom-section: #ff6a00;
}

* {
    box-sizing:border-box;
}

html, body {
    height: 100%;
    margin: 0px;
}

.top-section {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: repeating-linear-gradient(-225deg, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-size: 400% 400%;
    animation: background-gradient 7s ease infinite;
    display: flex;
    justify-content:center;
    align-items:flex-start;
}

.middle-section {
    height: 100%;
    width: 100%;
    background-color:var(--top-section);
}

h1{
    font-family: pacifico;
    margin: 0;
    font-size: 3.5em;
    padding: 12px 20px;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    a{
        color:white;
    }

    h1 {
        font-size: 2em;
        padding: 20px 20px;
    }
}