
@font-face {
    src: url("./fonts/pacifico.ttf");
    font-family: pacifico;
}
@font-face {
    src: url("./fonts/dancing_script.ttf");
    font-family: dancingScript;
}
@font-face {
    src: url("./fonts/lobster.ttf");
    font-family: lobster;
}


:root {
    --top-section: #FFCDBC;
    --middle-section: #92BFB1;
    --bottom-section: #FDDC84;
}

* {
    box-sizing:border-box;
}

body{
    
}

.top-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-image: url("back.jpg");*/
    background-color: var(--top-section);
    background-repeat: no-repeat;
}

.navbar{
    background-color: transparent;
    width:100%;
    height:max-content;
}

ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
    column-gap: 3em;
    font-size: 1.7em;
    padding: 8px 16px;
    list-style-type: none;
}

a{
    text-decoration:none;
    color: #d16002;
    font-family: pacifico;
    transition: 0.4s;
}


a:hover{
    color:var(--bottom-section);
}

.title{
    background-color: transparent;
    width: 100%;
    height: 70%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto auto;
}

.middle-section {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 110%;
    /*background-color: var(--middle-section);*/
    background-attachment:fixed;
    background-position:center;
    background-size:cover;

    background-image: url("./svgs/about.svg");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-us, .people {
    width: 40%;
    height: 80%;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 50px;
    align-items: center;
    word-break: normal;
    font-family: lobster;
}

.about-us > span{
    font-size: 3.5em;
    color: white;
}

.about-us > p {
    font-size: 2.2em;
    color: white;
    margin: 0 0.5em;
}

.vl {
    width: 0;
    border-left: 3px solid transparent;
    height: 80%;
}

.people {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 25px;
    align-items: center;
    word-break: normal;
    font-family: lobster;
}


.people > span {
    font-size: 3.5em;
    color: white;
}

.container{
    width: 95%;
    height: 90%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center;
    column-gap: 100px;
}

.faces {
    width: 270px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    font-family: dancingScript;
    font-size: 1.4em;
    border: 1px solid #4E9C81;
    border-radius: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.faces > img{
    border-radius: 50%;
    width: 70%;
}


.bottom-section {
    position: absolute;
    left: 0;
    top: 210%;
    width: 100%;
    height: 100%;
    background-color: var(--bottom-section);
}

@media only screen and (max-width: 700px) {
    .middle-section {
        background-image: url("./svgs/mobile_about.svg");
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 200%;
        row-gap: 10px;
    }
    .about-us{
        background-color: transparent;
        width: 100%;
        height: max-content;
        font-size: 0.7em;
        row-gap: 10px;
    }
   
    .about-us > span{
        margin: 0.2em auto;
    }

    .about-us > p {
        font-size: 1.25rem;
        color: white;
        margin: 0 0.2em;
    }

    .vl{
        display:none;
    }
    .people{
        font-size: 1rem;
        row-gap: 7px;
        width: 100%;
    }
    .people > span{
        font-size: 2.7em;
    }

    .container{
        grid-template-columns: auto auto;
        width: 100%;
        height: 500px;
        column-gap: 50px;
    }

    .faces {
        width: 170px;
        height: 220px;
        font-size: 1.1em; 
        row-gap: 17px;
    }
}