:root {
    --main-text: #E5DFDF;
    --subtitle-text: #271F20;
    --content-container-bg: #FAFAFA;
    --body-color: #F2E9EA;
    --title-color: #E7DDDB;
    --content-title-color: #27211F;
    --content-desc-color: #E7DDDB;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    to {
        fill: black;
    }

    from{
        fill: transparent;
    }
}
@keyframes live{
    to {
        opacity: 100%;
    }

    from {
        opacity: 0%;
    }
}
@keyframes up{
    to {
        top: 10%;
    }
}

body {
    background-color:var(--body-color);
}
.box-container{
    background-color: transparent;
    
    position:absolute;
    left:50%;
    top:55%;

    transform: translate(-50%,-50%);

    display:flex;
    justify-content:center;

    width:450px;
    height:550px;

    animation: up 2s ease forwards 4.0s;
}
.content-container{
    background-color: var(--content-container-bg);

    width:80%;
    height:65%;

    display:flex;
    justify-content:center;

    animation: live 2s ease-out forwards;
}
.title-text {
    background-color: var(--main-text);
    position: absolute;
    top: 5%;
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0%;
    animation: live 2s ease forwards 0.3s;
}
.subtitle-text {
    background-color: var(--subtitle-text);
    position: absolute;
    top: 20%;
    width: 60%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0%;
    animation: live 2s ease forwards 1s;
}


.main-text {
    background-color: transparent;
    position: relative;
    top: 55%;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text svg {
    animation: fill 2.5s ease forwards 2.5s;
}

.main-text svg path:nth-child(1){
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;

    animation: line-anim 2s ease forwards 1.5s;
}
.main-text svg path:nth-child(2) {
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation: line-anim 2s ease forwards 1.8s;
}
.main-text svg path:nth-child(3) {
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation: line-anim 2s ease forwards 2.1s;
}
.main-text svg path:nth-child(4) {
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation: line-anim 2s ease forwards 2.3s;
}
.main-text svg path:nth-child(5) {
    stroke-dasharray: 650px;
    stroke-dashoffset: 650px;
    animation: line-anim 2s ease forwards 2.7s;
 }

.main-content-container {
    background-color: transparent;
    width: 100vw;
    height: 75vh;
    position: absolute;
    left: 0;
    bottom: 2%;
    opacity: 0%;
    animation: live 1s ease forwards 5.5s;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
}


.content-box-container {
    width: 350px;
    height: 320px;
    background-color: var(--content-container-bg);
    margin: 20px 0 0 25px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.content-question {
    width: 90%;
    height: auto;
    background-color: transparent;
    font-family: 'Times New Roman';
    font-size: 1.34em;
    color: black;
    text-align: center;
    overflow-wrap: normal;
    margin: 20px auto;
}


.content-title {
    width: max-content;
    height: auto;
    background-color: var(--content-title-color);
    font-family: 'Times New Roman';
    font-size: 28px;
    color: var(--title-color);
    display: flex;
    justify-content: center;
    margin: auto auto;
}
.content-title > p {
     margin: 0.2em 0.4em 0.2em 0.4em;
 }


.content-desc {
    width: 90%;
    height: max-content;
    background-color: var(--content-desc-color);
    overflow-wrap: normal;
    font-size: 1.34em;
    margin: 20px auto;
    text-align: center;
}

@media only screen and (max-width: 700px) {
   
    .box-container {
        width: 250px;
        height: 320px;
    }
    .main-content-container{
        height:80%;
        position:absolute;
        bottom:0;
        display: grid;
        grid-template-columns: auto;
    }
    .content-box-container {
        margin: 0.4em auto;
        width: 330px;
        height: 350px;
    }

    @keyframes up {
        to {
            top: 7%;
        }
    }
}
